body {
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.LandingPage{
    width: 100%;
    height: 6757px; 
    position: relative; 
    background: white;
}

/* Navbar*/
.Rectangle1{
    width: 100%; 
    height: 865px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #F5F7FA;
    margin: 0; 
    padding: 0;
}

.Frame1{
    width: 92%; 
    left: 50px; 
    top: 40px; 
    position: absolute; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex
}

.Frame2{
    justify-content: flex-start; 
    align-items: center;
    gap: 9px; display: flex 
}

.logo{
    width: 35px; 
    height: 35px;
}

.Velo{
    color: black; 
    font-size: 32px; 
    font-weight: 700; 
    word-wrap: break-word;
}

.Frame3 {
    justify-content: flex-start; 
    align-items: center; 
    gap: 50px; 
    display: flex;
    transition: all 0.3s ease; /* Menambahkan transisi */
}

.Lorem {
    border: none; 
    background: #F5F7FA; 
    color: #7ECD50; 
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transisi untuk background, warna, dan transform */
}
.Lorem:hover {
    background: #7ECD50; /* Ubah background saat di-hover */
    color: #F5F7FA; /* Ubah warna teks saat di-hover */
    transform: scale(1.1); /* Perbesar elemen */
    border-radius: 5px;
}

/*Konten1*/
.Frame4{
    height: 317px; 
    margin: 0 auto; 
    padding: 20px; 
    left: 50px; 
    top: 300px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px; display: flex; 
}

.Title1{
    width: 400px; 
    color: black; 
    font-size: 43px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word;
    
}


.Title2{
    width: 450px; 
    align-self: stretch; 
    color:black; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
}

.Frame5{
    width: 143px;
    height: 30px; 
    padding: 10px; 
    background: #7ECD50; 
    border-radius: 5px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
    transition: all 0.3s ease; 
    cursor: pointer;
}

.GetStarted{
    color: white; 
    font-size: 18px; 
    font-weight: 600; 
    word-wrap: break-word;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.Frame5:hover {
    background: #2e7008; /* Ubah background saat di-hover */
    color: #F5F7FA; /* Ubah warna teks saat di-hover */
    transform: scale(1.1); /* Perbesar elemen */
}


.Frameimg{
    width: 500px; 
    height: 401px; 
    left: 700px; 
    top: 200px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
}

.img1{
    width: 2500px;
    height: 300px;
}

.Frame6{
    left: 600px; 
    top: 780px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 24px;
    width:100%;

}

.Frame6 .button1,
.Frame6 .button2,
.Frame6 .button3{
    transition: transform 0.5s ease-in-out;

}
.button1{
    width: 15px; 
    height: 15px; 
    background: #6EAD49; 
    border-radius: 15px;
    border: none; 
}

.button1.active,
.button2.active,
.button3.active {
    background: #2e7008; /* Warna indikator aktif */
    transition: background 0.3s ease;
    width: 42px; 
}

/*konten2 */
.Frameimg1{
    width: 100%; 
    height: 500px; 
    left: 100px; 
    top: 1000px; 
    position: absolute;
}

.Vector{
    width: 100%; 
    height: 500px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.img2{
    width: 400px; 
    height: 300px; 
    margin-top: 50px;
}

.Frame7{
    height: 198px;                                          
    left: 700px; 
    top: 1039px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 20px; 
    display: inline-flex;
    
/* Properti untuk animasi */
opacity: 0; /* Mulai transparan */
transform: translateY(20px); /* Mulai sedikit di bawah */
animation: fadeSlideIn 1.5s ease-out forwards; /* Memanggil animasi */
}

/* Keyframes untuk animasi */
@keyframes fadeSlideIn {
0% {
    opacity: 0; /* Transparan */
    transform: translateY(20px); /* Di bawah posisi awal */
}
100% {
    opacity: 1; /* Teks terlihat */
    transform: translateY(0); /* Posisi akhir */
}
}

.text1{
    align-self: stretch; 
    color: black; 
    font-size: 48px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word;
}

.text2{
    align-self: stretch; 
    color: black; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    padding-right: 60px;
}

.box1{
    width: 55px; 
    height: 55px;
    padding-left: 11px; 
    padding-right: 11px;
    padding-top: 13px; 
    padding-bottom: 13px; 
    left: 700px;
    top: 1280px; 
    position: absolute; 
    background: #54AFE5; 
    border-radius: 5px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
    
}

.box2{
    width: 55px; 
    height: 55px; 
    padding-left: 11px; 
    padding-right: 11px; 
    padding-top: 13px; 
    padding-bottom: 13px; 
    left: 1000px; 
    top: 1280px; 
    position: absolute; 
    background: #54AFE5; 
    border-radius: 5px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.Framebox1{
    height: 54px; 
    left: 800px; 
    top: 1275px; 
    position: absolute;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}

.text3{
    align-self: stretch; 
    color: black; 
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
}

.text4{
    align-self: stretch; 
    color: black; 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 400; 
    margin-top: 40px;
    word-wrap: break-word;
}

.Framebox2{
    height: 54px; 
    left: 1100px; 
    top: 1275px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}

/*konten3 */
.Rectangle2 {
    width: 100%;
    height: 850px;
    left: 0px;
    top: 1500px;
    position: absolute;
    background: #F5F7FA;
}

.Frame8 {
    height: 316px;
    left: 150px;
    top: 1587px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 78px;
    display: inline-flex;
}

.text5 {
    align-self: stretch;
    text-align: center;
    margin-left: 100px;
    color: black;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.boxrt {
    gap: 180px;
    display: flex;
    justify-content: space-between;
}

.brt {
    width: 200px;
    height: 200px;
    background: #7ECD50;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.boxuf {
    width: 150px;
    height: 150px;
    position: relative;
}

.buf {
    width: 200px;
    height: 200px;
    background: #54AFE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxcustom {
    width: 150px;
    height: 150px;
    position: relative;
}

.bcustom {
    width: 200px;
    height: 200px;
    left: 55px;
    top: 0px;
    position: absolute;
    background: #FBCB41;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Frame9 {
    left: 100px;
    top: 1950px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
    display: inline-flex;
}

.Frametext {
    width: 289px;
    flex-direction: column;
    margin-left: 5px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    display: inline-flex;
}

.text {
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.subtext {
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.textuf {
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 16px;
}

.subtext2 {
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}


/* konten4 */
.konten4 {
    background-color:white;
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 2430px;
}

.text6 {
    left: 400px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 46px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

.boxtest1 {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.icontest {
    width: 21px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.subicontest {
    width: 8px;
    height: 42px;
    background: #D9D9D9;
}

.baseicontest {
    align-self: stretch;
    height: 21px;
    background: #D9D9D9;
    border-radius: 9999px;
}

.Frameblog1 {
    width: 200px;
    height: 43px;
    position: relative;
    top: 60px;
}

.Frameblog2 {
    width: 170px;
    height: 43px;
    position: relative;
    top: 80px;
}

.textblog2 {
    align-self: stretch;
    color: black;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    top: 90px;
    word-wrap: break-word;
}

.Frameblog3 {
    width: 170px;
    height: 43px;
    position: relative;
    top: 130px;
}

.Frameblog4 {
    width: 170px;
    height: 43px;
    position: relative;
    top: 100px;
}

.profile-container {
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    display: inline-flex;
}

.profile-image {
    width: 59px;
    height: 59px;
    border-radius: 32px;
}

.profile-info {
    width: 153px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.profile-name {
    align-self: stretch;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.profile-description {
    align-self: stretch;
    color: rgba(0, 0, 0, 0.35);
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.line1 {
    align-self: stretch;
    height: 0px;
    border: 1px black solid;
    margin-top: 100px;
}

:root {
    --position: 1;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    pointer-events: none;
    margin-top: 100px;
}

div.item {
    padding: 20px;
    position: absolute;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input[type="radio"] {
    position: relative;
    z-index: 1; /* Pastikan berada di atas elemen lainnya */
    top: 130px;
}
.item-box1 {
    width: 150px;
    height: 487px;
    padding-left: 45px;
    padding-right: 66px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.rectangle-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 150px;
    background-color: #3B86B3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.rectangle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 150px;
    background-color: #3B86B3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

/* Rectangle Kiri */
#prevRectangle {
    left: 0;
}

/* Rectangle Kanan */
#nextRectangle {
    right: 0;
}

/* Tombol Ikon */
.icon-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}


 /* Tombol Kiri */
#prevButton {
    left: 50px; /* Posisi ikon di samping rectangle kiri */
}

/* Tombol Kanan */
#nextButton {
    right: 50px; /* Posisi ikon di samping rectangle kanan */
}

/* Ikon */
.icon {
    font-size: 50px;
    font-weight: medium;
    color: #3B86B3;
}

/* Hover Tombol */
.icon-button:hover {
    background-color: #f1f3f5;
    color: white;
    border-color: none;
}

/* konten5 */
.Rectangle3 {
    width: 100%;
    height: 900px;
    left: 0px;
    top: 3186px;
    position: absolute;
    background: #F5F7FA;
}

.big-frame5 {
    width: 100%;
    height: 491px;
    left: 200px;
    top: 3270px;
    position: absolute;
}

.main-title {
    width: 666px;
    left: 99px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 46px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.main-image {
    width: 654px;
    height: 569px;
    left: 265px;
    top: 170px;
    position: absolute;
    border: 50px;
}

.layout-box {
    width: 309px;
    height: 369px;
    left: 0px;
    top: 272px;
    position: absolute;
}

.flat-box1 {
    width: 300px;
    height: 69px;
    left: 10px;
    top: 0px;
    position: absolute;
    background: #7ECD50;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.textbox {
    left: 20px;
    top: 12px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
}

.flat-box2 {
    width: 300px;
    height: 69px;
    left: 10px;
    top: 100px;
    position: absolute;
    background: #54AFE5;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.flat-box3 {
    width: 300px;
    height: 69px;
    left: 10px;
    top: 200px;
    position: absolute;
    background: #F1487A;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.flat-box4 {
    width: 300px;
    height: 69px;
    left: 10px;
    top: 300px;
    position: absolute;
    background: #FBCB41;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Konten 6 */
.Rectangle4 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 4080px;
    position: absolute;
    background: #7ECD50;
}

.Texsture1 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 4080px;
    position: absolute;
    opacity: 0.3;
}

.big-frame6 {
    left: 90px;
    top: 4130px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 88px;
    display: inline-flex;
}

.box-shape6 {
    width: 439px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.title-text6 {
    align-self: stretch;
    color: white;
    font-size: 46px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
}

.sub-title6 {
    align-self: stretch;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}


.invite-modal {
    width: 500px;
    height: 250px;
    top: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .invite-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .invite-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .invite-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-label {
    font-size: 14px;
    color: black;
  }
  
  .email-input {
    width: 480px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .invite-actions {
    display: flex;
    gap: 300px;
    margin-top: 60px;
}

.invite-btn, .decline-btn {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease-in-out; /* Menambahkan transisi untuk hover */
}

/* Tombol "Accept" */
.invite-btn {
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

/* Hover efek untuk "Accept" */
.invite-btn:hover {
    background-color: #4CAF50;
    color: white;
}

/* Tombol "Decline" */
.decline-btn {
    color: #FF4F4F;
    border: 2px solid #FF4F4F;
}

/* Hover efek untuk "Decline" */
.decline-btn:hover {
    background-color: #FF4F4F;
    color: white;
}

/* konten7 */ 
.Rectangle5 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 4480px;
    position: absolute;
    background: #54AFE5;
}

.Texsture2 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 4480px;
    position: absolute;
    opacity: 0.2;
}

.big-frame7 {
    left: 90px;
    top: 4530px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 88px;
    display: inline-flex;
}

/* konten8 */
.Rectangle6 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 4880px;
    position: absolute;
    background: #F1487A;
}

.Texsture3 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 4880px;
    position: absolute;
    opacity: 0.3;
}

.big-frame8 {
    left: 90px;
    top: 4930px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 88px;
    display: inline-flex;
}


/* konten9 */
.Rectangle7{
    width: 100%; 
    height: 400px; 
    left: 0px; 
    top: 5280px; 
    position: absolute; 
    background: #FBCB41;
}
.Texsture4 {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 5280px;
    position: absolute;
    filter: brightness(90%);
    opacity: 0.3; /* Ubah nilai sesuai kebutuhan (0.0 - 1.0) */
}

.big-frame9 {
    left: 90px;
    top: 5330px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 88px;
    display: inline-flex;
}

/* konten10 */
.box-shape10 {
    width: 197px;
    height: 700px;
    left: 520px;
    top: 6500px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: white;
    border: 2px #7ECD50 solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxslider1 {
    max-width: 550px;
    max-height: 200px;
    margin: 0 auto;
    background: white;
    width: 600px; 
    height: 200px; 
    left: 570px; 
    top: 5300px;
    position: absolute;  
    transform-origin: 0 0;  
} 

.boxslider{
    position: absolute; 
    left: 580px; 
    top: 5800px; 
    width: 630px; 
    height: 200px; 
    background: white; 
    border-radius: 15px; 
    overflow: hidden; 
    display: flex; 
    align-items: center;
}

.left-btn{
    position: absolute; 
    top: 50%; 
    left: 0; 
    transform: translateY(-50%); 
    background: #7ECD50; 
    border: none; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;  
    width: 80px; 
    height: 100%; 
    color: white; 
    font-size: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
}

.right-btn{
    position: absolute; 
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    background: #7ECD50; 
    background-image: url('images/Texsture.png');
    border: none; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;  
    width: 80px; 
    height: 100%; 
    color: white; 
    font-size: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
}
.Texsture-right{
    width: 100%; 
    height: 150px; 
    left: 0px;
    top: 0px; 
    position: absolute; 
    opacity: 0.2;
}

.slider-container{
    display: flex; 
    overflow: hidden; 
    scroll-behavior: smooth; 
    white-space: nowrap; 
    width: 100%;
    height: 100%; 
    border: 2px #7ECD50 solid;
    box-sizing: border-box; 
    overflow-x: hidden;
    padding: 30px;
}

.slide{
    flex: 0 0 auto; 
    width: 150px; 
    height: 140px; 
    margin: 0 10px; 
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); 
    border-radius: 15px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.slide-img{
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

.frame-text10{
    height: 144px;
    left: 50px; 
    top: 6350px; 
    position: absolute;  
    flex-direction: column; 
    margin-left: 40px;
}
.title-text10{
    text-align: center; 
    color: black; 
    font-size: 46px; 
    font-weight: 700; 
    word-wrap: break-word;
}
.sub-text10{
    text-align: center; 
    color: black; 
    font-size: 16px; 
    font-weight: 400; 
    word-wrap: break-word;
}


/*konten11*/
.box-frame11{
    width: 1000px; 
    height: 270px; 
    padding-left: 58px; 
    padding-right: 58px;
    padding-top: 46px; 
    padding-bottom: 46px; 
    left: 75px; 
    top: 6130px; 
    position: absolute; 
    background: linear-gradient(0deg, #54AFE5 0%, #54AFE5 100%); 
    border-radius: 35px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 175px; 
    display: inline-flex;
}
.sub-frame11{
    width: 578px;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 49px; 
    display: inline-flex;
}
.box11{
    align-self: stretch; 
    height: 100px; 
    flex-direction: column;
}
.title-text11{
    align-self: stretch; 
    color: white; 
    font-size: 36px; 
    font-weight: 700; 
    word-wrap: break-word;
}
.sub-text11{
    align-self: stretch; 
    color: white; 
    font-size: 14px; 
    font-weight: 500; 
    word-wrap: break-word;
}
.btn11 {
    align-self: stretch;
    height: 20px;
    width: 450px;
    padding: 10px;
    background: #2C7AA8;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: inline-flex;
    cursor: pointer;
    transition: transform 0.3s ease; /* Menambahkan transisi untuk animasi */
}

.btn11:hover {
    transform: scale(1.1); /* Membesarkan elemen sebesar 10% saat hover */
}

.btn-text11 {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.slide-img11 {
    width: 586px;
    height: 457px;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img11 {
    max-width: 100%;
    max-height: 100%;
}


/*Footer*/
.footer-section {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 6600px;
    background: #7ECD50;
  }
.Texsture-footer{
    width: 100%; 
    height: 150px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    opacity: 0.2;
}
  
.footer-line {
    width: 1100px;
    height: 0;
    position: absolute;
    left: 80px;
    top: 50px;
    border: 1px solid white;
}
  
.footer-content {
    width: 1160px;
    height: 20px;
    position: absolute;
    left: 43px;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.footer-language,
.footer-terms,
.footer-copyright {
    color: white;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}
.globe-icon, .down-arrow-icon {
    margin: 0 5px;
}
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}



.footer-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
}

.social-icon i {
    font-size: 24px;
    color: black;
}

.youtube i {
    font-size: 24px;
    cursor: pointer;
}

.twitter i {
    font-size: 20px;
    cursor: pointer;
}

.linkedin i {
    font-size: 20px;
    cursor: pointer;
}
